* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Pantera";
    src: url('/Font/shredded.ttf');
}

.Marnix {
    background-image: linear-gradient(to right, rgb(90, 9, 9), black, rgb(90, 9, 9));
}

.Marnix .h1 {
    color: rgb(204, 9, 9);
    font-family: "Pantera";
    font-size: 200px;
    text-align: center;
}

.flex-item {
    flex-basis: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;

    background-image: linear-gradient( to bottom, rgb(130, 0, 0), yellow);
    border: lpx solid rgb(238, 255, 237)
}