.Noah
{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 1em;

    background-color: rgb(0, 0, 0);
    color: red;
    border: 1px solid rgb(0, 0, 0);
}

footer{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

footer h3{
    font-size: 1rem;
    color: rgb(219, 26, 26);
}

footer #verticalLine{
    border-left: 6px solid rgb(219, 26, 26);
    height: 50px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.Sven div{
    display: flex;
}

.Sven img{
    width: 20%;
    height: auto;
}
