* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pantera";
    src: url('/Font/shredded.ttf');
}

.Marnix {
    background-image: linear-gradient(to right, rgb(90, 9, 9), black, rgb(90, 9, 9));
}

.Marnix .h1 {
    color: rgb(204, 9, 9);
    font-family: "Pantera";
    font-size: 200px;
    text-align: center;
    padding-top: 20px;
}

.Marnix img {
    width: 20%;
    display: block;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Marnix p {
    padding: 10px;
}

.flex-item {
    flex-basis: calc(50% - 5px);
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: wrap;
    text-align: center;

    width: 90%;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin: auto;

    background-image: linear-gradient(to bottom, rgb(130, 0, 0), yellow);
}

.Cady {
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    padding: 1%;
    width: 45%;
}

.Group {
    color: rgb(222, 6, 6);
}

.Members {
    color: rgb(222, 6, 6);
}

.Music {
    color: rgb(222, 6, 6);
}

.Idk {
    color: rgb(222, 6, 6);
}

.Noah {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 1em;

    background-color: rgb(0, 0, 0);
    color: red;
    border: 1px solid rgb(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
}

header h1 {
    font-size: 5rem;
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(219, 26, 26);
}

footer {
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

footer h3 {
    font-size: 1rem;
    color: rgb(219, 26, 26);
}

footer #verticalLine {
    border-left: 6px solid rgb(219, 26, 26);
    height: 50px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.Sven div {
    display: flex;
}

.Sven img {
    width: 20%;
    height: auto;
}