.Noah
{
    width: 50% - 50px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 1em;

    background-color: rgb(0, 0, 0);
    color: red;
    border: 1px solid rgb(0, 0, 0);
}


