.Cady{
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    padding:1%;
    width: 45%;
}
.Group{
    color:rgb(222, 6, 6);
}
.Members{
    color:rgb(222, 6, 6);
}
.Music{
    color:rgb(222, 6, 6);
}
.Idk{
    color:rgb(222, 6, 6);
}