.Noah
{
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 1em;

    background-image:linear-gradient(to bottom, rgb(0, 0, 0) , black,  rgb(83, 0, 0) , rgb(141, 0, 0));
    color: red;
    border: 1px solid rgb(255, 0, 0);
    
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
}

header h1{
    font-size: 5rem;
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(219, 26, 26);
}

footer{
    background-color: rgb(0, 0, 0);
    padding: 1.5rem;
    display: flex;
    align-items: center;
}

footer h3{
    font-size: 1rem;
    color: rgb(219, 26, 26);
}

footer #verticalLine{
    border-left: 6px solid rgb(219, 26, 26);
    height: 50px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.Sven{
    display: flex;
    padding: 5rem;
    background-color: rgb(255, 247, 228);
}

.Sven p{

}

.Sven div{
    width: 50%;
    margin-left: 5rem;
}

.Sven img{
    width: 20%;
    height: auto;
}
